*{
    background-color:  rgb(54, 52, 52);
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    text-align: center;
    color: purple;
    font-weight: bold;
}
.id {
    color: white;
    font-size: 15px;
    text-align: center;
  }
.grid-container {
    display: grid;
    height: 760px;
    grid-template-rows: 0.2fr 1.5fr;
    align-content: center;
    grid-template-columns: 525px 525px 525px;
    gap: 15px;
    padding: 10px;
    margin: 18px;
  }
  .grid-item {
    background-color: none;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-style: dashed ;
    border-color: white;
    border-radius: 8px;
  
  }
  .code-header{
    border-radius:8px;
    font-weight: bold;
    border-style: solid;

  }
  .code-card {
    border-radius:8px;
   text-align: center;
    font-size: 20px;
    background-color: purple;
    color: white;
  }
.code-card:hover{
    color: aquamarine;
    background-color: blue;
  }
.card-header:hover {
    color: aquamarine;
    background-color: blue;
  }
  .main-header:hover {
    color: aquamarine;
    background-color: blue;
  }
  footer {
    text-align: center;
    font-size: 35px;
    color: purple;
    font-weight: bold;
  }
  